<h1>Add a New DealerShip</h1>

<form class="form-inline" action="/dealerships" method="post">
  <label for="dealerName">Dealership Name</label>
  <input class="form-control" type="text" name="dealerName" id="dealerName" placeholder="Your Name Here">
  <button class="btn btn-default" type="submit">Add</button>
</form>
