<a href="/dealerships/new"><button class="btn btn-default" type="button">Add Dealership</button></a>

<a href="/dealerships"><button class="btn btn-default" type="button">See Dealership List</button></a>
