<h1>Success! Ye ship be sailin'.</h1>

<a href="/dealerships/<%= @dealership.id() %>"><button class="btn btn-default" type="button">Go to <%= @dealership.name() %></button></a>
<a href="/dealerships"><button class="btn btn-default" type="button">Go to Dealership List</button></a>
